$dark-gray: #a0aec0;
$gray: #828282;
$deep-gray: #425466;
$dark-blue: #01436b;
$purple: #6c52b2;

body {
	font-family: "Manrope", sans-serif;
	background: #f7fafc;
	color: #000;
}

.bg-dark-gray {
	background: $dark-gray;
}

.bg-gray {
	background: $gray;
}

.bg-deep-gray {
	background: $deep-gray;
}

.bg-dark-blue {
	background: $dark-blue;
}

.text-dark-gray {
	color: $dark-gray;
}

.text-gray {
	color: $gray;
}

.text-deep-gray {
	color: $deep-gray;
}

.text-dark-blue {
	color: $dark-blue;
}

.text-purple {
	color: $purple;
}

.overflow-scroll-x {
	overflow: scroll-x;
}

.text-underline {
	text-decoration: underline;
}

.max-w-search {
	width: 200px;
}

table {
	font-size: 0.85rem;
}

/********************************

            LAYOUT

********************************/

.layout {
	position: relative;

	@media screen and (max-width: 991px) {
		&__content {
			top: 0;
			width: 100%;
		}

		&__nav {
			position: fixed;
			bottom: 0;
			width: 100%;
			padding: 20px;
			background-color: #fff;
			z-index: 10;
		}
	}

	@media screen and (min-width: 992px) {
		display: grid;
		grid-template-columns: 250px auto;
		grid-template-areas: "navbar content";
		column-gap: 2px;

		&__nav {
			grid-area: navbar;
			background-color: #fff;
			padding: 20px;
			min-height: 100vh;
			overflow: hidden;

			.fixed {
				position: fixed;
				height: 90vh;
			}
		}

		&__content {
			grid-area: content;
		}
	}

	.anticon {
		vertical-align: 0;
	}

	.input-group-search {
		max-width: 300px;
	}

	&__content {
		margin-bottom: 78px;

		&-header {
			padding: 20px;
			background: #fff;

			.notification {
				position: relative;

				&-badge {
					position: absolute;
					width: 25px;
					height: 25px;
					right: -5px;
					top: -5px;
					line-height: 25px;
					text-align: center;
				}
			}
		}
	}
}

/********************************

            DASHBOARD

********************************/
.dashboard {
	&__main {
		&-cards {
			@media screen and (min-width: 768px) {
				display: grid;
				grid-template-columns: repeat(2, minmax(0, 1fr));
				column-gap: 20px;
			}

			@media screen and (min-width: 1440px) {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}

			.car_d {
				background: #fff;
				padding: 20px;
				border-radius: 10px;

				img {
					width: 55px;
					height: 55px;
				}

				span {
					font-size: 14px;
				}

				.num {
					font-size: 16px;
				}

				&.span-2 {
					grid-column: span 2;
				}
			}
		}
	}

	&__payment {
		padding: 10px;

		@media screen and (min-width: 768px) {
			padding: 20px;
		}

		.bb-payment {
			border-bottom: 2px solid #1d90b9;
		}

		.search {
			overflow-x: scroll;
			width: 100%;
		}
	}
}

/********************************

            OVERVIEW

********************************/

.overview {
	&__main {
		&-cards {
			@media screen and (min-width: 992px) {
				display: grid;
				grid-template-columns: repeat(3, minmax(0, 1fr));
				column-gap: 20px;
			}

			.car_d {
				background: #fff;
				padding: 20px;
				border-radius: 10px;

				img {
					width: 55px;
					height: 55px;
				}

				span {
					font-size: 14px;
				}

				.num {
					font-size: 16px;
				}

				&.span-2 {
					grid-column: span 2;
				}
			}
		}
	}

	&__payment {
		padding: 10px;

		@media screen and (min-width: 768px) {
			padding: 20px;
		}

		.bb-payment {
			border-bottom: 2px solid #1d90b9;
		}

		.search {
			overflow-x: scroll;
			width: 100%;
		}
	}
}

/********************************

        TRANSACTION-DETAIL

********************************/
.detail {
	&__main {
		.profile-details {
			padding: 30px 10px;

			@media screen and (min-width: 768px) {
				padding: 30px;
			}

			.profile-img {
				width: 80px;
				height: 80px;
				object-fit: cover;
			}

			h3 {
				font-size: 22px;
			}

			h4 {
				font-size: 18px;
			}

			h5.heading {
				font-size: 16px;
			}

			.bank-img {
				width: 50px;
				height: 50px;
			}

			.transfer {
				font-size: 22px;
			}

			.success {
				width: 25px;
				height: 25px;
				line-height: 25px;
			}
		}
	}
}

.payment__breakdown {
	padding: 10px;

	@media screen and (min-width: 768px) {
		padding: 20px;
	}
}

/********************************

        BULK PAYMENT

********************************/
.bulk__payment {
	&-main {
		padding: 10px;

		@media screen and (min-width: 768px) {
			padding: 20px;
		}

		.profile-details {
			padding: 30px 10px;

			@media screen and (min-width: 768px) {
				padding: 30px;
			}

			.bulk-img {
				width: 60px;
				height: 60px;
				object-fit: cover;
			}

			&.min-ht {
				min-height: 500px;
			}

			.sync {
				border-radius: 20px;
				border-color: #fff;
			}

			.processed {
				width: 60px;
				height: 60px;
			}

			&.process_ed {
				p {
					font-size: 20px;
				}
			}
		}
	}
}

/********************************

        PAYMENT_PAGE

********************************/

.payment-page {
	.refresh {
		width: 25px;
		height: 20px;
		line-height: 20px;
	}
}

/********************************

        CONTACT_PAGE

********************************/

.contact {
	.edit {
		width: 40px;
		height: 40px;
	}
}

/********************************

        GENERAL_PAGE

********************************/

.dashboard__main,
.overview__main,
.detail__main,
.payment-page__main,
.contact-page__main,
.contact-page__table {
	padding: 10px;

	@media screen and (min-width: 768px) {
		padding: 20px;
	}
}

.selec_t {
	min-width: 250px;
}
